# Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/

# Data artifacts & cache
data/phishing_uci_dataset.csv
.DS_Store
*.log
*.db
